{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">My To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">

      

      {% for status in view_model.trello_lists %}
      <h2>{{status["name"]}} Items</h2>

      
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Status</th>
              <th scope="col">Description</th>
              <th scope="col">Due Date</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            
            {% for items in view_model.sorted_items.values() %}
            {% for item in items %}
            {% if item.status == status["name"] %}
            <tr>
              <td>{{item["name"]}}</td>
              <td>{{item["status"]}}</td>
              <td>{{item["desc"]}}</td>
              <td>{{item["due"]}}</td>
              <td><a href="{{ url_for('UpdateToDo', id=item['id'] ) }}">Update</a></td>
              <td><a href="{{ url_for('DeleteToDo', id=item['id'] ) }}">Delete</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>

      {% endfor %}

  <div class="row">
    <div class="col-md-12">
      <h2>Add To Do Item</h2>
      <form method="POST" action="{{ url_for('AddToDo') }}">
        <label for="todoItem">Title</label><br>
        <input type="text" id="todoItem" name="todoItem" value="{{ title }}" required>{% if view_model.errored %}<label style="color: red; padding-left: 4px;"> * Please enter a valid title</label>{% endif %}<br><br>

        
        <label for="Description">Description</label><br>
        <textarea class="form-control" id="description" name="desc" rows="3"></textarea>
        
        <br>

        <label for="date-due">Date Due</label><br>
        <div class="input-group date" data-provide="datepicker">
            <input type="text" name="date-due" class="date-due" data-date-format="yyyy-mm-dd" value="{{due}}">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>

        <br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <br><br>
{% endblock %}