{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Update To Do</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

    <form action="{{ url_for('UpdateToDoPost', id=item['id'] ) }}" method="POST">
        <div class="row">
            <div class="col-md-12">
                <h2>Item</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Set Status</th>
                            <th scope="col">Description</th>
                            <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" id="title" name="title" value="{{ item['name'] }}" required> {% if error %}<label style="color: red; padding-left: 4px;"> * Please enter a valid title</label>{% endif %}<br><br>
                            </td>
                            <td>
                                <select class="form-control" id="status" name="status">
                                    {% for status in statuses %}
                                    <option {% if item["status"] == status["name"] %} selected{%endif%}>{{status["name"]}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                    <textarea class="form-control" id="description" name="desc" rows="3">{{ item['desc'] }}</textarea>
                            </td>
                            <td>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" name="date-due" class="date-due" data-date-format="yyyy-mm-dd" value="{{due}}">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}